<div class="container mt-4">
    <div class="card">
        <div class="card-header">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-9">
                        <h3 class="card-title">Lista de Productos</h3>
                    </div>
                    <div class="col-3">
                        <form class="d-flex">
                            <input class="form-control me-2" type="search" [(ngModel)]="palabraFiltro"
                                name="palabraFiltro" placeholder="Buscar por Categoría o Producto..." aria-label="Search">
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered table-striped">
                    <thead class="table-dark">
                        <tr>
                            <th>ID</th>
                            <th>Nombre</th>
                            <th>Precio</th>
                            <th>Categoría</th>
                            <th>Características Principales</th>
                            <th colspan="3" class="text-center">Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let producto of productos | productFilter:palabraFiltro | slice:desde:hasta">
                            <td>{{producto.id }}</td>
                            <td>{{producto.nombre }}</td>
                            <td>{{producto.precio }}</td>
                            <td>{{producto.categoria }}</td>
                            <td>{{producto.caracteristicasPrincipales }}</td>
                            <td class="text-center">
                                <button type="button" (click)="addToCarrito(producto)" class="btn btn-outline-success me-2" [routerLink]=""
                                    role="button">Agregar al Carrito</button>
                            </td>
                            <td class="text-center">
                                <button type="button" class="btn btn-outline-warning me-2" [routerLink]=""
                                    role="button">Editar</button>
                            </td>
                            <td class="text-center">
                                <button type="button" class="btn btn-outline-danger ms-2"
                                    role="button">Eliminar</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <mat-paginator [length]="productos.length" [pageSize]="pageSize"
                    (page)="cambiarpagina($event)">
                </mat-paginator>
            </div>
        </div>
    </div>